/* Standard container components */
*.itasks-viewport {
	display: flex;
	margin: 0;
	font-family: tahoma, arial, verdana, sans-serif;
	text-align: left;
	font-weight: normal;

	overflow: auto;
	flex-basis: 0;
}
*.itasks-viewport div, *.itasks-viewport input, *.itasks-viewport td, *.itasks-viewport th, *.itasks-viewport select {
	font-size: 9pt;
}

.itasks-container {
	display: flex;
	flex-direction: column;
 	align-items: flex-start;

	flex: 1;
	align-self: stretch;
	min-height: var(--flex-min-height);
}
.itasks-container.itasks-scroll-content {
	flex-basis: 0;
	overflow: auto;
}

.itasks-panel {
	color: var(--canvas-text-color);
	background-color: var(--canvas-base-color);
	border: 1px solid var(--panel-border-color);

	display: grid;
	grid-template-areas:
		"ls ts rs"
		"ls header rs"
		"ls toolbars rs"
		"ls inner rs"
		"ls buttonbars rs"
		"ls bs rs";

	grid-template-rows: min-content min-content min-content minmax(0, 1fr) min-content min-content;
	grid-template-columns: min-content 1fr min-content;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	min-height: var(--flex-min-height);
}
.itasks-panel > .itasks-header {
	grid-area: header;
	color: var(--panel-header-text-color);
	background-color: var(--panel-header-base-color);
	background: linear-gradient(var(--panel-header-base-color-lighter), var(--panel-header-base-color));
	font-weight: bold;
	font-size: 11px;
	height: 25px;
}
.itasks-panel > .itasks-header span {
	float: left;
	margin: 4px 0 0 4px;
}
.itasks-panel > .itasks-inner {
	grid-area: inner;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.itasks-panel > .itasks-buttonbar {
	grid-area: buttonbars;
}
.itasks-panel > .itasks-toolbar {
	grid-area: toolbars;
}
.itasks-panel.itasks-scroll-content {
	overflow: auto;
}
.itasks-panel.itasks-scroll-content > .itasks-inner {
	flex-basis: 0;
	overflow: auto;
}

.itasks-panel .itasks-sizer-top {
	grid-area: ts;
}
.itasks-panel .itasks-sizer-bottom {
	grid-area: bs;
}
.itasks-panel .itasks-sizer-left{
	grid-area: ls;
}
.itasks-panel .itasks-sizer-right {
	grid-area: rs;
}
.itasks-panel .itasks-sizer-top, .itasks-panel .itasks-sizer-bottom {
	height: 5px;
	cursor: ns-resize;
}
.itasks-panel .itasks-sizer-left, .itasks-panel .itasks-sizer-right {
	width: 5px;
	cursor: ew-resize;
}
.itasks-panel .itasks-sizer-top, .itasks-panel .itasks-sizer-bottom,
 .itasks-panel .itasks-sizer-left, .itasks-panel .itasks-sizer-right {
	background-color: var(--panel-border-color);
}
.itasks-panel .itasks-sizer-top:hover, .itasks-panel .itasks-sizer-bottom:hover,
 .itasks-panel .itasks-sizer-left:hover, .itasks-panel .itasks-sizer-right:hover {
	background-color: var(--select-base-color);
}

.itasks-window {
	/* Default minimum sizes */
	min-width: 300px;
	min-height: 150px;
}

.itasks-window > .itasks-header {
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	align-self: stretch;
}
.itasks-window > .itasks-header a.close {
	float: right;
	color: var(--panel-header-text-color);
	display: inline-block;
	position: relative;
	margin: 4px 4px 0 0;
	top: 0px;
	font-weight: bold;
	font-size: 8px;
	line-height: 8px;
	background: var(--panel-header-base-color-lighter);
	border: 1px solid var(--panel-header-text-color);
	border-radius: 2px;
	padding: 0 4px 2px 4px;
	text-decoration: none;
}
.itasks-window > .itasks-header span {
	float: left;
	margin: 4px 0 0 4px;
}

.itasks-window > .itasks-inner {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

	align-items: flex-start;
	overflow: auto;
}
.itasks-window.itasks-scroll-content > .itasks-inner {
	flex-basis: 0;
	overflow: auto;
}	
/* Windows */
.itasks-window {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
}
.itasks-window> .itasks-inner {
	overflow: auto;
	flex-basis: 0;
}

.itasks-window.itasks-floating-window {
	color: var(--canvas-text-color);
	background-color: var(--canvas-base-color);
	border: 1px solid var(--window-border-color);
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.itasks-window.itasks-floating-window > .itasks-header {
	color: var(--window-header-text-color);
	background-color: var(--window-header-base-color);
	background: linear-gradient(var(--window-header-base-color-lighter), var(--window-header-base-color));
}
.itasks-window.itasks-notification-bubble {
	background-color: var(--canvas-base-color);
	border: 3px solid var(--window-header-base-color);
	border-radius: 10px;
	opacity: 0.9;
}
.itasks-window.itasks-notification-bubble > .itasks-header {
	color: var(--window-header-text-color);
	background-color: var(--window-header-base-color);
}

.itasks-tabset {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.itasks-tabset > * {
	align-self: stretch;
}
.itasks-tabbar {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0 10px;
	line-height: 24px;
	position: relative;
	min-height: 24px;

	background: linear-gradient(var(--panel-header-base-color-lighter2), var(--panel-header-base-color));
	overflow: hidden;
}
.itasks-tabbar li {
	margin: 0;
	padding: 0 10px;
	border: 1px solid var(--tab-border-color);
	background: var(--tab-base-color-darker);
	display: inline-block;
	position: relative;
	z-index: 0;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.itasks-tabbar li a {
	color: var(--tab-text-color);
	text-decoration: none;
}
.itasks-tabbar li:before,
.itasks-tabbar li:after {
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
	border: 1px solid var(--tab-border-color);
}
.itasks-tabbar li:before {
	left: -6px;
	border-bottom-right-radius: 5px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 var(--tab-base-color-darker);
}
.itasks-tabbar li:after {
	right: -6px;
	border-bottom-left-radius: 5px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 var(--tab-base-color-darker);
}
.itasks-tabbar li.itasks-selected {
	background: var(--tab-base-color);
	color: var(--tab-text-color);
	z-index: 2;
	border-bottom-color: var(--tab-base-color);
}
.itasks-tabbar li.itasks-selected:before {
	box-shadow: 2px 2px 0 var(--tab-base-color);
}
.itasks-tabbar li.itasks-selected:after {
	box-shadow: -2px 2px 0 var(--tab-base-color);
}
.itasks-tabbar li a.itasks-tabclose {
	color: #aaa;
	display: inline-block;
	position: relative;
	top: -5px;
	left: 7px;
	font-weight: bold;
	font-size: 8px;
	line-height: 8px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0 2px;
}

.itasks-tabbar:after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid var(--tab-border-color);
	z-index: 1;
}
.itasks-tabbar:before {
	z-index: 1;
}

.itasks-tabicon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 3px 0 0;
	position: relative;
	top: 3px;
}
.itasks-tabset .itasks-tab-disabled .itasks-tabicon {
	opacity: 0.5;
}
.itasks-tabset .itasks-tab-disabled span {
	color: #aaa;
}
.itasks-tabset .itasks-tabitems {
	z-index: 2;
	border: 1px solid var(--tab-border-color);
	border-top-width: 0;
	background-color: var(--canvas-base-color);
	flex: 1;
	display: flex;
	flex-direction: column;
}
.itasks-tabset .itasks-container.itasks-tabitem, .itasks-tabset .itasks-panel.itasks-tabitem, .itasks-tabset .itasks-viewport.itasks-tabitem {
	display: none;
}
.itasks-tabset .itasks-panel.itasks-tabitem.itasks-selected {
	display: grid;
	border-top: 0;
}
.itasks-tabset .itasks-container.itasks-tabitem.itasks-selected, .itasks-tabset .itasks-viewport.itasks-tabitem.itasks-selected {
	display: flex;
	border-top: 0;
}

.itasks-toolbar, .itasks-buttonbar {
	align-self: stretch;
	flex: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	background: linear-gradient(var(--toolbar-base-color-lighter), var(--toolbar-base-color-darker));
}
.itasks-toolbar {
	justify-content: flex-start;
	margin: 0;
	padding: 2px;
	background: var(--toolbar-base-color);
	background: linear-gradient(var(--toolbar-base-color-lighter), var(--toolbar-base-color-darker2));
}
.itasks-toolbar > .itasks-menu-item > div {
	background-image: url('icons/menu-down.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}
.itasks-buttonbar {
	justify-content: flex-end;
	padding: 2px 2px 2px 0;
}
.itasks-menu {
	flex: 0;

	display: block;
	position: relative;
	border: 1px solid transparent;
	margin: 1px 0;
}
.itasks-menu div.itasks-menu-sep {
	width: 100%;
	height: 5px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	border: 1px solid var(--button-base-color-darker);
	border-width: 0 0 1px 0;
}

.itasks-menu div.itasks-menu-label {
	height: 23px;
	background: linear-gradient(var(--button-base-color-lighter), var(--button-base-color));
	background-repeat: none;
	background-image: url('icons/menu-down.png');
	background-repeat: no-repeat;
	background-position: 95% center;

	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--button-text-color);
	flex-shrink: 0;

	border: 1px solid var(--button-base-color-darker);
	border-radius: 3px;
	text-decoration: none;
	float: left;
	color: #000;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itasks-menu div.itasks-menu-label span {
	position: relative;
	top: 4px;
	margin: 0 20px 0 10px;
}

.itasks-menu .itasks-menu-content {
	z-index: 10;
	top: 23px;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	background: #eee;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
	border: 1px solid var(--button-base-color-darker);
	border-radius: 0 3px 3px 3px;
	min-width: 150px;
}
/* Submenu styling */
.itasks-menu .itasks-menu-content .itasks-menu-content {
	top: 0;
	left: 99%;
	margin: 2px 0 0 -2px;
}
.itasks-menu .itasks-menu-content .itasks-menu {
	width: 100%;
}
.itasks-menu .itasks-menu-content .itasks-menu-label {
	width: 100%;
	border-radius: 0;
	border-width: 0 0 1px 0;
	background-image: url('icons/menu-down.png');
}
.itasks-menu .itasks-menu-content .itasks-menu-label:hover { 
	background: var(--select-base-color);
	color: var(--select-text-color);
	border-radius: 0;
}

.itasks-menu .itasks-menu-content .itasks-button {
	border-radius: 0;
	border-width: 0 0 1px 0;
}
.itasks-menu .itasks-menu-content .itasks-button:hover {
	background: var(--select-base-color);
	color: var(--select-text-color);
}

/* Opening menus */
.itasks-menu:hover > .itasks-menu-content {
	display: block;
}
.itasks-menu:hover > .itasks-menu-label {
	border-radius: 3px 3px 0 0;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

.itasks-list {
	color: var(--list-text-color);
	background-color: var(--list-base-color);
	border: 2px solid var(--list-border-color);
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	align-self: stretch;
}
.itasks-list .itasks-listitem {
	margin: 0px 5px 5px 5px;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.itasks-list .itasks-listitem:nth-child(even) {
	background-color: var(--list-highlight-color);
}
.itasks-list .itasks-listitem-controls {
	flex-direction: row;
	justify-items: flex-end;
}
.itasks-debug {
	border: 3px solid red;
}

/* Sizing the children of containers that have specific size classes assigned to them: */

/* Sizing children of vertical containers */
.itasks-viewport > .itasks-flex-width,
.itasks-panel > .itasks-inner > .itasks-flex-width, 
.itasks-window > .itasks-inner > .itasks-flex-width,
.itasks-tabitems > .itasks-flex-width,
.itasks-container > .itasks-flex-width {
	align-self: stretch;
}
.itasks-viewport > .itasks-flex-height,
.itasks-panel > .itasks-inner > .itasks-flex-height,
.itasks-window > .itasks-inner > .itasks-flex-height,
.itasks-tabitems > .itasks-flex-height,
.itasks-container > .itasks-flex-height {
	flex-grow: 1;
}
.itasks-viewport > .itasks-exact-height,
.itasks-viewport > .itasks-wrap-height,
.itasks-panel > .itasks-inner > .itasks-exact-height,
.itasks-panel > .itasks-inner > .itasks-wrap-height,
.itasks-window > .itasks-inner > .itasks-exact-height,
.itasks-window > .itasks-inner > .itasks-wrap-height,
.itasks-tabitems > .itasks-exact-height,
.itasks-tabitems > .itasks-wrap-height,
.itasks-container > .itasks-exact-height,
.itasks-container > .itasks-wrap-height {
	flex: 0 0 auto;
}
.itasks-viewport > .itasks-exact-height > .itasks-inner,
.itasks-viewport > .itasks-wrap-height > .itasks-inner,
.itasks-panel > .itasks-inner > .itasks-exact-height > .itasks-inner,
.itasks-panel > .itasks-inner > .itasks-wrap-height  > .itasks-inner,
.itasks-window > .itasks-inner > .itasks-exact-height > .itasks-inner,
.itasks-window > .itasks-inner > .itasks-wrap-height > .itasks-inner,
.itasks-tabitems > .itasks-exact-height > .itasks-inner,
.itasks-tabitems > .itasks-wrap-height > .itasks-inner,
.itasks-container > .itasks-exact-height > .itasks-inner,
.itasks-container > .itasks-wrap-height > .itasks-inner {
	flex-basis: auto;
}

/* Sizing children of horizontal containers */
.itasks-container.itasks-horizontal > .itasks-flex-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-flex-width,
.itasks-form-item > .itasks-flex-width,
.itasks-toolbar > .itasks-flex-width,
.itasks-buttonbar > .itasks-flex-width,
.itasks-cons > .itasks-flex-width,
.itasks-var-cons > .itasks-flex-width,
.itasks-listitem > .itasks-flex-width,
.itasks-listitem-controls > .itasks-flex-width {
	flex-grow: 1;
}	
.itasks-container.itasks-horizontal > .itasks-flex-height,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-flex-height,
.itasks-form-item > .itasks-flex-height,
.itasks-toolbar > .itasks-flex-height,
.itasks-buttonbar > .itasks-flex-height,
.itasks-cons > .itasks-flex-height,
.itasks-var-cons > .itasks-flex-height,
.itasks-listitem > .itasks-flex-height,
.itasks-listitem-controls > .itasks-flex-height{
	align-self: stretch;
}
.itasks-container.itasks-horizontal > .itasks-exact-width,
.itasks-container.itasks-horizontal > .itasks-wrap-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-exact-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-wrap-width,
.itasks-form-item > .itasks-exact-width,
.itasks-form-item > .itasks-wrap-width,
.itasks-toolbar > .itasks-exact-width,
.itasks-toolbar > .itasks-wrap-width,
.itasks-buttonbar > .itasks-exact-width,
.itasks-buttonbar > .itasks-wrap-width,
.itasks-cons > .itasks-exact-width,
.itasks-cons > .itasks-wrap-width,
.itasks-var-cons > .itasks-exact-width,
.itasks-var-cons > .itasks-wrap-width,
.itasks-listitem > .itasks-exact-width,
.itasks-listitem > .itasks-wrap-width,
.itasks-listitem-controls > .itasks-exact-width,
.itasks-listitem-controls > .itasks-wrap-width {
	flex: 0 0 auto;
}	
.itasks-container.itasks-horizontal > .itasks-exact-width > .itasks-inner,
.itasks-container.itasks-horizontal > .itasks-wrap-width > .itasks-inner,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-exact-width > .itasks-inner,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-wrap-width > .itasks-inner,
.itasks-form-item > .itasks-exact-width > .itasks-inner,
.itasks-form-item > .itasks-wrap-width > .itasks-inner,
.itasks-toolbar > .itasks-exact-width > .itasks-inner,
.itasks-toolbar > .itasks-wrap-width > .itasks-inner,
.itasks-buttonbar > .itasks-exact-width > .itasks-inner,
.itasks-buttonbar > .itasks-wrap-width > .itasks-inner,
.itasks-cons > .itasks-exact-width > .itasks-inner,
.itasks-cons > .itasks-wrap-width > .itasks-inner,
.itasks-var-cons > .itasks-exact-width > .itasks-inner,
.itasks-var-cons > .itasks-wrap-width > .itasks-inner,
.itasks-listitem > .itasks-exact-width > .itasks-inner,
.itasks-listitem > .itasks-wrap-width > .itasks-inner,
.itasks-listitem-controls > .itasks-exact-width > .itasks-inner,
.itasks-listitem-controls > .itasks-wrap-width > .itasks-inner {
	flex-basis: auto;
}
/* Container components with additional styling */
.itasks-container.itasks-horizontal,
.itasks-panel.itasks-horizontal {
	flex-direction: row;
}
.itasks-container.itasks-vertical,
.itasks-panel.itasks-vertical {
	flex-direction: column;
}

.itasks-container.itasks-prompt {
	min-height: fit-content;
	min-width: fit-content;
	margin: 5px 5px 10px 5px;
}
.itasks-container.itasks-form-item {
	margin: 2px 4px 2px 4px;
	min-height: min-content;
	flex-direction: row;
	align-items: start;

	flex: 0;
	align-self: stretch;
}
.itasks-container.itasks-form-item .itasks-icon {
	margin-left: 5px;
}
.itasks-container.itasks-cons, .itasks-container.itasks-var-cons  {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: start;
}

.itasks-container.itasks-frame-compact-outer {
	flex: 1;	
	align-self: stretch;
}
.itasks-container.itasks-frame-compact-outer > .itasks-frame-compact-inner {
	margin: 50px 0 20px 0;
	border-radius: 5px;
	overflow: auto;

	align-self: center;
	flex: 0;
	flex-basis: auto;
}

.itasks-panel.itasks-framed {
	border-radius: 5px;
}

.itasks-headerbar > .itasks-inner > .aside {
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
	align-self: stretch;
	align-items: center;
}

/* Sidebar elements */
.itasks-panel.itasks-sidebar-left > .itasks-inner,
.itasks-panel.itasks-sidebar-right > .itasks-inner,
.itasks-container.itasks-sidebar-left > .itasks-inner,
.itasks-container.itasks-sidebar-right > .itasks-inner {
	flex-direction: row;
}
.itasks-sidebar-top > .itasks-inner > .aside,
.itasks-sidebar-bottom > .itasks-inner > .aside {
	flex: 0 0 var(--vertical-sidebar-init-height);
	align-self: stretch;
	border-width: 0;
}
.itasks-sidebar-right > .itasks-inner > .aside,
.itasks-sidebar-left > .itasks-inner > .aside {
	flex: 0 0 var(--horizontal-sidebar-init-width);
	align-self: stretch;
	border-width: 0;
}

.itasks-hidden {
	display: none;
}

.itasks-scroll-content {
	min-height: var(--flex-min-height);
}
