/*
 SASS-Themable stylesheet for iTasks javascript UI library
 You can customize this to create branded iTask applications.
*/
/* Colors: */
/* Options: */
/* Include shared styles */
*.itasks-viewport {
  margin: 0;
  overflow: auto;
  font-family: tahoma, arial, verdana, sans-serif;
  text-align: left;
  font-weight: normal;
  /* Icon definitions */
  /* Pure-css tooltips */ }
  *.itasks-viewport .icon-help {
    background-image: url("css/icons/help.png"); }
  *.itasks-viewport .icon-info {
    background-image: url("css/icons/information.png") !important; }
  *.itasks-viewport .icon-valid {
    background-image: url("css/icons/accept.png") !important; }
  *.itasks-viewport .icon-warning {
    background-image: url("css/icons/warning.png") !important; }
  *.itasks-viewport .icon-invalid {
    background-image: url("css/icons/exclamation.png") !important; }
  *.itasks-viewport .icon-continue {
    background-image: url("css/icons/arrow_right.png"); }
  *.itasks-viewport .icon-login, *.itasks-viewport .icon-log-in {
    background-image: url("css/icons/tick.png"); }
  *.itasks-viewport .icon-logout, *.itasks-viewport .icon-log-out {
    background-image: url("css/icons/door_in.png"); }
  *.itasks-viewport .icon-view {
    background-image: url("css/icons/page.png") !important; }
  *.itasks-viewport .icon-edit {
    background-image: url("css/icons/pencil.png") !important; }
  *.itasks-viewport .icon-delete {
    background-image: url("css/icons/trash.png") !important; }
  *.itasks-viewport .icon-refresh {
    background-image: url("css/icons/refresh.png") !important; }
  *.itasks-viewport .icon-up {
    background-image: url("css/icons/move-up.png") !important; }
  *.itasks-viewport .icon-down {
    background-image: url("css/icons/move-down.png") !important; }
  *.itasks-viewport .icon-add, *.itasks-viewport .icon-new {
    background-image: url("css/icons/add.png") !important; }
  *.itasks-viewport .icon-remove {
    background-image: url("css/icons/delete.png") !important; }
  *.itasks-viewport .icon-ok {
    background-image: url("css/icons/tick.png") !important; }
  *.itasks-viewport .icon-cancel {
    background-image: url("css/icons/cancel.png") !important; }
  *.itasks-viewport .icon-open {
    background-image: url("css/icons/document-open.png") !important; }
  *.itasks-viewport .icon-save {
    background-image: url("css/icons/document-save.png") !important; }
  *.itasks-viewport .icon-close {
    background-image: url("css/icons/cancel.png") !important; }
  *.itasks-viewport .icon-previous {
    background-image: url("css/icons/arrow_left.png") !important; }
  *.itasks-viewport .icon-next {
    background-image: url("css/icons/arrow_right.png") !important; }
  *.itasks-viewport .icon-preferences {
    background-image: url("css/icons/cog.png") !important; }
  *.itasks-viewport [tooltip] {
    position: relative;
    display: inline-block; }
  *.itasks-viewport [tooltip]:before, *.itasks-viewport [tooltip]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
  *.itasks-viewport [tooltip]:hover:before, *.itasks-viewport [tooltip]:hover:after, *.itasks-viewport [tooltip]:focus:before, *.itasks-viewport [tooltip]:focus:after {
    visibility: visible;
    opacity: 1; }
  *.itasks-viewport [tooltip]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001; }
  *.itasks-viewport [tooltip]:after {
    content: attr(tooltip);
    background: #ccc;
    color: #000;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); }
  *.itasks-viewport [tooltip]:before {
    border-left-color: #ccc;
    margin-right: -12px;
    margin-bottom: -6px; }
  *.itasks-viewport [tooltip]:after {
    margin-bottom: -14px; }
  *.itasks-viewport [tooltip]:before, *.itasks-viewport [tooltip]:after {
    right: 100%;
    bottom: 50%; }
  *.itasks-viewport [tooltip]:hover:after, *.itasks-viewport [tooltip]:hover:before, *.itasks-viewport [tooltip]:focus:after, *.itasks-viewport [tooltip]:focus:before {
    -webkit-transform: translateX(-8px);
    -moz-transform: translateX(-8px);
    transform: translateX(-8px); }
  *.itasks-viewport div, *.itasks-viewport input, *.itasks-viewport td, *.itasks-viewport th, *.itasks-viewport select {
    min-height: fit-content;
    font-size: 9pt; }

div.itasks-loader {
  font-size: 16pt;
  font-style: italic;
  text-align: center; }

div.itasks-loader-spinner {
  width: 40px;
  height: 40px;
  border: 10px solid;
  border-radius: 100%;
  border-color: #fb7322 #fb7322 #fb7322 #004584;
  margin: auto auto;
  animation: itasks-rotation 0.8s infinite linear; }

@keyframes itasks-rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
.itasks-vcontainer, .itasks-hcontainer {
  display: flex;
  align-items: flex-start; }

.itasks-vcontainer {
  flex-direction: column; }

.itasks-hcontainer {
  flex-direction: row;
  flex-shrink: 0; }

.itasks-wrapping-horizontal {
  flex-shrink: 0;
  min-width: fit-content; }
  .itasks-wrapping-horizontal * {
    min-width: fit-content; }

.itasks-wrapping-vertical {
  flex-shrink: 0;
  min-height: fit-content; }
  .itasks-wrapping-vertical * {
    min-height: fit-content; }

/* Styles for unlayouted content */
.itasks-raw-record
, .itasks-raw-cons
, .itasks-raw-var-cons
, .itasks-raw-interact
, .itasks-raw-step
, .itasks-raw-parallel
, .itasks-raw-form
, .itasks-raw-form-item {
  border: dashed 2px #ccc; }
  .itasks-raw-record
  > .itasks-header, .itasks-raw-cons
  > .itasks-header, .itasks-raw-var-cons
  > .itasks-header, .itasks-raw-interact
  > .itasks-header, .itasks-raw-step
  > .itasks-header, .itasks-raw-parallel
  > .itasks-header, .itasks-raw-form
  > .itasks-header, .itasks-raw-form-item > .itasks-header {
    color: #fff;
    padding: 2px; }

.itasks-raw-form {
  border: solid 2px #f33;
  background: #fee; }
  .itasks-raw-form > .itasks-header {
    background: #f33; }

.itasks-raw-form-item {
  border: dashed 2px #f33;
  border-radius: 5px; }
  .itasks-raw-form-item > .itasks-header {
    background: #f33; }

.itasks-raw-record {
  border: solid 2px #f33;
  background: #fee; }
  .itasks-raw-record > .itasks-header {
    background: #f33; }

.itasks-raw-cons {
  border: solid 2px #ff3;
  background: #ffe; }
  .itasks-raw-cons > .itasks-header {
    background: #ff3; }

.itasks-raw-var-cons {
  border: solid 2px #ff3;
  background: #ffe; }
  .itasks-raw-var-cons > .itasks-header {
    background: #ff3; }

.itasks-raw-interact {
  border: solid 2px #f3f;
  background: #fef; }
  .itasks-raw-interact > .itasks-header {
    background: #f3f; }

.itasks-raw-step {
  border: solid 2px #33f;
  background: #eef; }
  .itasks-raw-step > .itasks-header {
    background: #33f; }

.itasks-raw-parallel {
  border: solid 2px #3f3;
  background: #efe; }
  .itasks-raw-parallel > .itasks-header {
    background: #3f3; }

.itasks-raw-empty {
  border: dashed 2px #eee;
  color: #ccc;
  font-style: italic; }

.itasks-raw-action {
  border: solid 2px #000;
  padding: 5px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold; }

.itasks-raw-action-enabled {
  background-color: #0f0; }

.itasks-raw-action-disabled {
  background-color: #f00; }

.itasks-prompt {
  border: #999 solid;
  border-width: 0 0 1px 0;
  min-height: fit-content; }

.itasks-header {
  font-weight: bold;
  font-size: 11px;
  height: 25px;
  align-self: stretch; }
  .itasks-header a.close {
    float: right;
    color: #ffffff;
    display: inline-block;
    position: relative;
    margin: 4px 4px 0 0;
    top: 0px;
    font-weight: bold;
    font-size: 8px;
    line-height: 8px;
    background: #ff9544;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 0 4px 2px 4px;
    text-decoration: none; }
  .itasks-header span {
    float: left;
    margin: 4px 0 0 4px; }

.itasks-inner {
  flex: 1; }

/* Panels */
.itasks-panel {
  color: #000;
  background-color: #eee;
  border: 1px solid #fb7322;
  display: flex;
  flex-direction: column; }
  .itasks-panel > .itasks-header {
    color: #ffffff;
    background-color: #fb7322;
    background: -moz-linear-gradient(top, #ff9544 0%, #fb7322 100%);
    background: -webkit-linear-gradient(top, #ff9544 0%, #fb7322 100%); }

.itasks-framed {
  border-radius: 5px; }

/* Tabs */
.itasks-tabset {
  display: flex;
  align-items: stretch;
  flex-direction: column; }

.itasks-tabbar {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0 10px;
  line-height: 24px;
  position: relative;
  min-height: 24px;
  background: -moz-linear-gradient(top, #ffa554, #fb7322);
  background: -webkit-linear-gradient(top, #ffa554, #fb7322);
  overflow: hidden; }

.itasks-tabbar:after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  z-index: 1; }

.itasks-tabbar:before {
  z-index: 1; }

.itasks-tabbar li {
  margin: 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #dbdbdb;
  display: inline-block;
  position: relative;
  z-index: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.itasks-tabbar li a {
  color: #000;
  text-decoration: none; }

.itasks-tabbar li:before,
.itasks-tabbar li:after {
  position: absolute;
  bottom: -1px;
  width: 5px;
  height: 5px;
  content: " ";
  border: 1px solid #ccc; }

.itasks-tabbar li:before {
  left: -6px;
  border-bottom-right-radius: 5px;
  border-width: 0 1px 1px 0;
  box-shadow: 2px 2px 0 #dbdbdb; }

.itasks-tabbar li:after {
  right: -6px;
  border-bottom-left-radius: 5px;
  border-width: 0 0 1px 1px;
  box-shadow: -2px 2px 0 #dbdbdb; }

.itasks-tabbar li.itasks-selected {
  background: #eee;
  color: #000;
  z-index: 2;
  border-bottom-color: #eee; }

.itasks-tabbar li.itasks-selected:before {
  box-shadow: 2px 2px 0 #eee; }

.itasks-tabbar li.itasks-selected:after {
  box-shadow: -2px 2px 0 #eee; }

.itasks-tabbar li a.itasks-tabclose {
  color: #aaa;
  display: inline-block;
  position: relative;
  top: -5px;
  left: 7px;
  font-weight: bold;
  font-size: 8px;
  line-height: 8px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0 2px; }

.itasks-tabicon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 0 3px 0 0;
  position: relative;
  top: 3px; }

.itasks-tabitems {
  z-index: 2;
  border: 1px solid #ccc;
  border-top-width: 0;
  background-color: #eee;
  flex: 1; }

.itasks-tabitem {
  display: none; }

.itasks-tabitem.itasks-selected {
  display: flex;
  border-top: 0; }

/* Windows */
.itasks-floating-window, .itasks-notification-bubble {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: column; }
  .itasks-floating-window > .itasks-inner, .itasks-notification-bubble > .itasks-inner {
    overflow: auto; }

.itasks-floating-window {
  color: #000;
  background-color: #eee;
  border: 1px solid #fb7322;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); }
  .itasks-floating-window > .itasks-header {
    color: #ffffff;
    background-color: #004584;
    background: -moz-linear-gradient(top, #2267a6 0%, #004584 100%);
    background: -webkit-linear-gradient(top, #2267a6 0%, #004584 100%); }

.itasks-notification-bubble {
  background-color: #eee;
  border: 3px solid #004584;
  border-radius: 10px;
  opacity: 0.9; }
  .itasks-notification-bubble > .itasks-header {
    color: #ffffff;
    background-color: #004584; }

/* Toolbars, button bars & menu's */
.itasks-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 2px 5px;
  background: #eee;
  background: -moz-linear-gradient(center top, #f8f8f8, #e4e5e7);
  background: -webkit-linear-gradient(center top, #f8f8f8, #e4e5e7); }
  .itasks-toolbar > .itasks-menu-item > a {
    background-image: url("css/icons/menu-down.png");
    background-repeat: no-repeat;
    background-position: 95% center; }

.itasks-buttonbar, .itasks-toolbar {
  background: -moz-linear-gradient(top, #fefefe, #cccccc); }

.itasks-menu {
  display: block;
  position: relative;
  border: 1px solid transparent;
  margin: 1px 0;
  /* Opening menus */ }
  .itasks-menu a.itasks-menu-label {
    height: 23px;
    background: -moz-linear-gradient(top, #fefefe, #eee);
    background: -webkit-linear-gradient(top, #fefefe, #eee);
    background-repeat: none;
    background-image: url("css/icons/menu-down.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    text-decoration: none;
    float: left;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .itasks-menu a.itasks-menu-label span {
      position: relative;
      top: 4px;
      margin: 0 20px 0 10px; }
  .itasks-menu .itasks-menu-content {
    z-index: 10;
    top: 23px;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    background: #eee;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #bbbbbb;
    border-radius: 0 3px 3px 3px;
    min-width: 150px;
    /* Submenu styling */ }
    .itasks-menu .itasks-menu-content .itasks-menu-content {
      top: 0;
      left: 99%;
      margin: 2px 0 0 -2px; }
    .itasks-menu .itasks-menu-content .itasks-menu {
      width: 100%; }
    .itasks-menu .itasks-menu-content .itasks-menu-label {
      width: 100%;
      border-radius: 0;
      border-width: 0 0 1px 0;
      background-image: url("css/icons//menu-down.png"); }
      .itasks-menu .itasks-menu-content .itasks-menu-label:hover {
        background: #004584;
        color: #fff;
        border-radius: 0; }
    .itasks-menu .itasks-menu-content .itasks-button {
      border-radius: 0;
      border-width: 0 0 1px 0; }
      .itasks-menu .itasks-menu-content .itasks-button:hover {
        background: #004584;
        color: #fff; }
  .itasks-menu:hover > .itasks-menu-content {
    display: block; }
  .itasks-menu:hover > .itasks-menu-label {
    display: block;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5); }

.itasks-debug {
  border: 3px solid red; }

.itasks-icon {
  width: 16px;
  height: 16px; }

.itasks-button {
  font-size: 8pt;
  padding: 3px;
  background: -moz-linear-gradient(top, #fefefe, #eee);
  background: -webkit-linear-gradient(top, #fefefe, #eee);
  background-repeat: none;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
  flex-shrink: 0; }
  .itasks-button:hover {
    border-color: #bbbbbb; }

.itasks-button-label {
  margin: 0 4px;
  height: 16px; }

.itasks-button-icon {
  width: 16px;
  height: 16px; }

.itasks-button-disabled {
  color: #aaaaaa;
  background: -moz-linear-gradient(top, #fefefe, #cccccc);
  background: -webkit-linear-gradient(top, #fefefe, #cccccc); }

.itasks-button-disabled:hover {
  border-color: #bbbbbb; }

.itasks-button-disabled .itasks-button-icon {
  opacity: 0.5; }

.itasks-checkgroup {
  margin: 0;
  padding: 0; }

.itasks-checkgroup li {
  list-style: none; }

.itasks-checkgroup label {
  margin-left: 5px; }

.itasks-choicegrid {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column; }

.itasks-choicegrid-header {
  color: #ffffff;
  background: #fb7322;
  background: -moz-linear-gradient(center top, #ff7d2c, #f16a1b);
  background: -webkit-linear-gradient(center top, #ff7d2c, #f16a1b);
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex: none; }

.itasks-choicegrid-header > div {
  border: 1px solid;
  border-color: #ff8433 #ff8433 #ff9544 #ff9544;
  flex: 1;
  -webkit-flex: 1;
  padding: 3px 5px;
  font-size: 11px;
  height: 20px; }

.itasks-choicegrid-body {
  flex: 1;
  -webkit-flex: 1;
  background: #fff;
  color: #000;
  overflow: auto;
  min-height: 100px; }

.itasks-choicegrid-body > div {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  cursor: default;
  border: solid transparent;
  border-width: 1px 0;
  border-bottom-color: #ddd; }

.itasks-choicegrid-body > div:nth-child(even) {
  background-color: #fafafa; }

.itasks-choicegrid-body > div:hover {
  background-color: #eee; }

.itasks-choicegrid-body > div.itasks-selected {
  background-color: #004584;
  color: #fff;
  border: 1px dotted #333; }

.itasks-choicegrid-body > div > div {
  flex: 1;
  -webkit-flex: 1;
  padding: 3px 5px; }

.itasks-choicetree {
  overflow: auto;
  min-width: 150px;
  -webkit-min-width: 150px;
  min-height: 100px;
  -webkit-min-height: 100px;
  background: #fff;
  color: #000; }
  .itasks-choicetree ol {
    margin: 5px 0 0 20px;
    padding: 0; }
  .itasks-choicetree li {
    position: relative;
    margin: 0 0 2px -15px;
    list-style: none; }
    .itasks-choicetree li input {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: 0;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      height: 1em;
      width: 1em; }
      .itasks-choicetree li input + ol {
        margin: -15px 0 0 -44px;
        display: block;
        height: 1em;
        background: url("css/icons/toggle-small-expand.png") 42px -3px no-repeat; }
        .itasks-choicetree li input + ol > li {
          display: none;
          margin-left: -24px !important;
          padding-left: 1px; }
      .itasks-choicetree li input:checked + ol {
        margin: -20px 0 0 -44px;
        padding: 20px 0 0 80px;
        height: auto;
        background: url("css/icons//toggle-small.png") 42px 0 no-repeat; }
        .itasks-choicetree li input:checked + ol > li {
          display: block;
          margin: 0 0 2px; }
          .itasks-choicetree li input:checked + ol > li:last-child {
            margin: 0 0 1px; }
    .itasks-choicetree li.itasks-leaf > label {
      background-position: 16px 0px;
      background-repeat: no-repeat; }
    .itasks-choicetree li.itasks-selected > label {
      font-weight: bold; }
    .itasks-choicetree li label {
      cursor: pointer;
      display: block;
      white-space: nowrap;
      font-size: 12px;
      padding-left: 37px;
      background-color: #fff;
      background-position: 15px 1px;
      background-repeat: no-repeat; }
    .itasks-choicetree li label.itasks-default-folder {
      background-image: url("css/icons/folder.png"); }
    .itasks-choicetree li label.itasks-default-leaf {
      background-image: url("css/icons/document.png"); }

.itasks-choice-list {
  margin: 0;
  border: 1px solid #004584;
  display: flex;
  display: -webkit-flex;
  overflow: auto;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: stretch;
  -webkit-align-items: stretch; }

.itasks-choice-list-option {
  border: solid #004584;
  border-width: 0 0 1px 0;
  padding: 5px 10px;
  flex-shrink: 0;
  -webkit-flex-shrink: 0; }
  .itasks-choice-list-option:last-child {
    border-width: 0; }

.itasks-choice-list-option.itasks-selected {
  background-color: #004584;
  color: #fff; }
