.welcome-itasks-example-collection {
	background: url('../itasks.png') no-repeat top center;
	padding-top: 100px;
}
.welcome-itasks-example-collection > div {
	max-width: 600px;
	border-radius: 5px;
	padding: 5px 10px;
}
.welcome-itasks-example-collection h1 {
	font-weight: normal;
	font-size: 32pt;
	color: #74a1d5;
}

