.itasks-leaflet-window {
  color: #000;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  font-family: tahoma, arial, verdana, sans-serif;
  font-weight: normal; }
  .itasks-leaflet-window > .titlebar {
    cursor: move;
    color: #000;
    background-color: #ccc;
    background: -moz-linear-gradient(top, #eeeeee 0%, #ccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%, #ccc 100%);
    font-weight: bold;
    font-size: 9pt;
    height: 25px;
    display: flex;
  }
    .titlebar a.close {
        color: #000;
        height: 1em;
        margin: auto 4px auto 0;
        font-weight: bold;
        font-size: 8px;
        line-height: 8px;
        background: #eeeeee;
        border: 1px solid #000;
        border-radius: 2px;
        padding: 0 4px 2px 4px;
        text-decoration: none; }
    .titlebar div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: auto 4px auto 4px;
        flex-grow: 1;
    }
