div.itasks-container.manage-work-header {
	padding: 2px 2px 2px 10px;
	flex-direction: row;
}
div.itasks-container.manage-work-header > div.itasks-textview {
	flex: 1 0 auto;
}
div.itasks-window.new-work-window {
    min-width: 600px;
    min-height: 350px;
}
/* Standard container components */
*.itasks-viewport {
	display: flex;
	margin: 0;
	font-family: tahoma, arial, verdana, sans-serif;
	text-align: left;
	font-weight: normal;

	overflow: auto;
	flex-basis: 0;
}
*.itasks-viewport div, *.itasks-viewport input, *.itasks-viewport td, *.itasks-viewport th, *.itasks-viewport select {
	font-size: 9pt;
}

.itasks-container {
	display: flex;
	flex-direction: column;
 	align-items: flex-start;

	flex: 1;
	align-self: stretch;
	min-height: var(--flex-min-height);
}
.itasks-container.itasks-scroll-content {
	flex-basis: 0;
	overflow: auto;
}

.itasks-panel {
	color: var(--canvas-text-color);
	background-color: var(--canvas-base-color);
	border: 1px solid var(--panel-border-color);

	display: grid;
	grid-template-areas:
		"ls ts rs"
		"ls header rs"
		"ls toolbars rs"
		"ls inner rs"
		"ls buttonbars rs"
		"ls bs rs";

	grid-template-rows: min-content min-content min-content minmax(0, 1fr) min-content min-content;
	grid-template-columns: min-content 1fr min-content;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: stretch;
	min-height: var(--flex-min-height);
}
.itasks-panel > .itasks-header {
	grid-area: header;
	color: var(--panel-header-text-color);
	background-color: var(--panel-header-base-color);
	background: linear-gradient(var(--panel-header-base-color-lighter), var(--panel-header-base-color));
	font-weight: bold;
	font-size: 11px;
	height: 25px;
}
.itasks-panel > .itasks-header span {
	float: left;
	margin: 4px 0 0 4px;
}
.itasks-panel > .itasks-inner {
	grid-area: inner;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.itasks-panel > .itasks-buttonbar {
	grid-area: buttonbars;
}
.itasks-panel > .itasks-toolbar {
	grid-area: toolbars;
}
.itasks-panel.itasks-scroll-content {
	overflow: auto;
}
.itasks-panel.itasks-scroll-content > .itasks-inner {
	flex-basis: 0;
	overflow: auto;
}

.itasks-panel .itasks-sizer-top {
	grid-area: ts;
}
.itasks-panel .itasks-sizer-bottom {
	grid-area: bs;
}
.itasks-panel .itasks-sizer-left{
	grid-area: ls;
}
.itasks-panel .itasks-sizer-right {
	grid-area: rs;
}
.itasks-panel .itasks-sizer-top, .itasks-panel .itasks-sizer-bottom {
	height: 5px;
	cursor: ns-resize;
}
.itasks-panel .itasks-sizer-left, .itasks-panel .itasks-sizer-right {
	width: 5px;
	cursor: ew-resize;
}
.itasks-panel .itasks-sizer-top, .itasks-panel .itasks-sizer-bottom,
 .itasks-panel .itasks-sizer-left, .itasks-panel .itasks-sizer-right {
	background-color: var(--panel-border-color);
}
.itasks-panel .itasks-sizer-top:hover, .itasks-panel .itasks-sizer-bottom:hover,
 .itasks-panel .itasks-sizer-left:hover, .itasks-panel .itasks-sizer-right:hover {
	background-color: var(--select-base-color);
}

.itasks-window {
	/* Default minimum sizes */
	min-width: 300px;
	min-height: 150px;
}

.itasks-window > .itasks-header {
	font-weight: bold;
	font-size: 11px;
	height: 25px;
	align-self: stretch;
}
.itasks-window > .itasks-header a.close {
	float: right;
	color: var(--panel-header-text-color);
	display: inline-block;
	position: relative;
	margin: 4px 4px 0 0;
	top: 0px;
	font-weight: bold;
	font-size: 8px;
	line-height: 8px;
	background: var(--panel-header-base-color-lighter);
	border: 1px solid var(--panel-header-text-color);
	border-radius: 2px;
	padding: 0 4px 2px 4px;
	text-decoration: none;
}
.itasks-window > .itasks-header span {
	float: left;
	margin: 4px 0 0 4px;
}

.itasks-window > .itasks-inner {
	display: flex;
	flex-direction: column;

	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: auto;

	align-items: flex-start;
	overflow: auto;
}
.itasks-window.itasks-scroll-content > .itasks-inner {
	flex-basis: 0;
	overflow: auto;
}	
/* Windows */
.itasks-window {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2000;
	display: flex;
	flex-direction: column;
}
.itasks-window> .itasks-inner {
	overflow: auto;
	flex-basis: 0;
}

.itasks-window.itasks-floating-window {
	color: var(--canvas-text-color);
	background-color: var(--canvas-base-color);
	border: 1px solid var(--window-border-color);
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}
.itasks-window.itasks-floating-window > .itasks-header {
	color: var(--window-header-text-color);
	background-color: var(--window-header-base-color);
	background: linear-gradient(var(--window-header-base-color-lighter), var(--window-header-base-color));
}
.itasks-window.itasks-notification-bubble {
	background-color: var(--canvas-base-color);
	border: 3px solid var(--window-header-base-color);
	border-radius: 10px;
	opacity: 0.9;
}
.itasks-window.itasks-notification-bubble > .itasks-header {
	color: var(--window-header-text-color);
	background-color: var(--window-header-base-color);
}

.itasks-tabset {
	display: flex;
	align-items: stretch;
	flex-direction: column;
}
.itasks-tabset > * {
	align-self: stretch;
}
.itasks-tabbar {
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0 10px;
	line-height: 24px;
	position: relative;
	min-height: 24px;

	background: linear-gradient(var(--panel-header-base-color-lighter2), var(--panel-header-base-color));
	overflow: hidden;
}
.itasks-tabbar li {
	margin: 0;
	padding: 0 10px;
	border: 1px solid var(--tab-border-color);
	background: var(--tab-base-color-darker);
	display: inline-block;
	position: relative;
	z-index: 0;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.itasks-tabbar li a {
	color: var(--tab-text-color);
	text-decoration: none;
}
.itasks-tabbar li:before,
.itasks-tabbar li:after {
	position: absolute;
	bottom: -1px;
	width: 5px;
	height: 5px;
	content: " ";
	border: 1px solid var(--tab-border-color);
}
.itasks-tabbar li:before {
	left: -6px;
	border-bottom-right-radius: 5px;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 0 var(--tab-base-color-darker);
}
.itasks-tabbar li:after {
	right: -6px;
	border-bottom-left-radius: 5px;
	border-width: 0 0 1px 1px;
	box-shadow: -2px 2px 0 var(--tab-base-color-darker);
}
.itasks-tabbar li.itasks-selected {
	background: var(--tab-base-color);
	color: var(--tab-text-color);
	z-index: 2;
	border-bottom-color: var(--tab-base-color);
}
.itasks-tabbar li.itasks-selected:before {
	box-shadow: 2px 2px 0 var(--tab-base-color);
}
.itasks-tabbar li.itasks-selected:after {
	box-shadow: -2px 2px 0 var(--tab-base-color);
}
.itasks-tabbar li a.itasks-tabclose {
	color: #aaa;
	display: inline-block;
	position: relative;
	top: -5px;
	left: 7px;
	font-weight: bold;
	font-size: 8px;
	line-height: 8px;
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 0 2px;
}

.itasks-tabbar:after {
	position: absolute;
	content: "";
	width: 100%;
	bottom: 0;
	left: 0;
	border-bottom: 1px solid var(--tab-border-color);
	z-index: 1;
}
.itasks-tabbar:before {
	z-index: 1;
}

.itasks-tabicon {
	width: 16px;
	height: 16px;
	display: inline-block;
	margin: 0 3px 0 0;
	position: relative;
	top: 3px;
}
.itasks-tabset .itasks-tab-disabled .itasks-tabicon {
	opacity: 0.5;
}
.itasks-tabset .itasks-tab-disabled span {
	color: #aaa;
}
.itasks-tabset .itasks-tabitems {
	z-index: 2;
	border: 1px solid var(--tab-border-color);
	border-top-width: 0;
	background-color: var(--canvas-base-color);
	flex: 1;
	display: flex;
	flex-direction: column;
}
.itasks-tabset .itasks-container.itasks-tabitem, .itasks-tabset .itasks-panel.itasks-tabitem, .itasks-tabset .itasks-viewport.itasks-tabitem {
	display: none;
}
.itasks-tabset .itasks-panel.itasks-tabitem.itasks-selected {
	display: grid;
	border-top: 0;
}
.itasks-tabset .itasks-container.itasks-tabitem.itasks-selected, .itasks-tabset .itasks-viewport.itasks-tabitem.itasks-selected {
	display: flex;
	border-top: 0;
}

.itasks-toolbar, .itasks-buttonbar {
	align-self: stretch;
	flex: 0;

	display: flex;
	flex-direction: row;
	align-items: center;

	background: linear-gradient(var(--toolbar-base-color-lighter), var(--toolbar-base-color-darker));
}
.itasks-toolbar {
	justify-content: flex-start;
	margin: 0;
	padding: 2px;
	background: var(--toolbar-base-color);
	background: linear-gradient(var(--toolbar-base-color-lighter), var(--toolbar-base-color-darker2));
}
.itasks-toolbar > .itasks-menu-item > div {
	background-image: url('icons/menu-down.png');
	background-repeat: no-repeat;
	background-position: 95% center;
}
.itasks-buttonbar {
	justify-content: flex-end;
	padding: 2px 2px 2px 0;
}
.itasks-menu {
	flex: 0;

	display: block;
	position: relative;
	border: 1px solid transparent;
	margin: 1px 0;
}
.itasks-menu div.itasks-menu-sep {
	width: 100%;
	height: 5px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	border: 1px solid var(--button-base-color-darker);
	border-width: 0 0 1px 0;
}

.itasks-menu div.itasks-menu-label {
	height: 23px;
	background: linear-gradient(var(--button-base-color-lighter), var(--button-base-color));
	background-repeat: none;
	background-image: url('icons/menu-down.png');
	background-repeat: no-repeat;
	background-position: 95% center;

	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--button-text-color);
	flex-shrink: 0;

	border: 1px solid var(--button-base-color-darker);
	border-radius: 3px;
	text-decoration: none;
	float: left;
	color: #000;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itasks-menu div.itasks-menu-label span {
	position: relative;
	top: 4px;
	margin: 0 20px 0 10px;
}

.itasks-menu .itasks-menu-content {
	z-index: 10;
	top: 23px;
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	background: #eee;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
	border: 1px solid var(--button-base-color-darker);
	border-radius: 0 3px 3px 3px;
	min-width: 150px;
}
/* Submenu styling */
.itasks-menu .itasks-menu-content .itasks-menu-content {
	top: 0;
	left: 99%;
	margin: 2px 0 0 -2px;
}
.itasks-menu .itasks-menu-content .itasks-menu {
	width: 100%;
}
.itasks-menu .itasks-menu-content .itasks-menu-label {
	width: 100%;
	border-radius: 0;
	border-width: 0 0 1px 0;
	background-image: url('icons/menu-down.png');
}
.itasks-menu .itasks-menu-content .itasks-menu-label:hover { 
	background: var(--select-base-color);
	color: var(--select-text-color);
	border-radius: 0;
}

.itasks-menu .itasks-menu-content .itasks-button {
	border-radius: 0;
	border-width: 0 0 1px 0;
}
.itasks-menu .itasks-menu-content .itasks-button:hover {
	background: var(--select-base-color);
	color: var(--select-text-color);
}

/* Opening menus */
.itasks-menu:hover > .itasks-menu-content {
	display: block;
}
.itasks-menu:hover > .itasks-menu-label {
	border-radius: 3px 3px 0 0;
	box-shadow: 0 3px 3px rgba(0,0,0,0.5);
}

.itasks-list {
	color: var(--list-text-color);
	background-color: var(--list-base-color);
	border: 2px solid var(--list-border-color);
	border-radius: 5px;

	display: flex;
	flex-direction: column;
	align-self: stretch;
}
.itasks-list .itasks-listitem {
	margin: 0px 5px 5px 5px;
	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.itasks-list .itasks-listitem:nth-child(even) {
	background-color: var(--list-highlight-color);
}
.itasks-list .itasks-listitem-controls {
	flex-direction: row;
	justify-items: flex-end;
}
.itasks-debug {
	border: 3px solid red;
}

/* Sizing the children of containers that have specific size classes assigned to them: */

/* Sizing children of vertical containers */
.itasks-viewport > .itasks-flex-width,
.itasks-panel > .itasks-inner > .itasks-flex-width, 
.itasks-window > .itasks-inner > .itasks-flex-width,
.itasks-tabitems > .itasks-flex-width,
.itasks-container > .itasks-flex-width {
	align-self: stretch;
}
.itasks-viewport > .itasks-flex-height,
.itasks-panel > .itasks-inner > .itasks-flex-height,
.itasks-window > .itasks-inner > .itasks-flex-height,
.itasks-tabitems > .itasks-flex-height,
.itasks-container > .itasks-flex-height {
	flex-grow: 1;
}
.itasks-viewport > .itasks-exact-height,
.itasks-viewport > .itasks-wrap-height,
.itasks-panel > .itasks-inner > .itasks-exact-height,
.itasks-panel > .itasks-inner > .itasks-wrap-height,
.itasks-window > .itasks-inner > .itasks-exact-height,
.itasks-window > .itasks-inner > .itasks-wrap-height,
.itasks-tabitems > .itasks-exact-height,
.itasks-tabitems > .itasks-wrap-height,
.itasks-container > .itasks-exact-height,
.itasks-container > .itasks-wrap-height {
	flex: 0 0 auto;
}
.itasks-viewport > .itasks-exact-height > .itasks-inner,
.itasks-viewport > .itasks-wrap-height > .itasks-inner,
.itasks-panel > .itasks-inner > .itasks-exact-height > .itasks-inner,
.itasks-panel > .itasks-inner > .itasks-wrap-height  > .itasks-inner,
.itasks-window > .itasks-inner > .itasks-exact-height > .itasks-inner,
.itasks-window > .itasks-inner > .itasks-wrap-height > .itasks-inner,
.itasks-tabitems > .itasks-exact-height > .itasks-inner,
.itasks-tabitems > .itasks-wrap-height > .itasks-inner,
.itasks-container > .itasks-exact-height > .itasks-inner,
.itasks-container > .itasks-wrap-height > .itasks-inner {
	flex-basis: auto;
}

/* Sizing children of horizontal containers */
.itasks-container.itasks-horizontal > .itasks-flex-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-flex-width,
.itasks-form-item > .itasks-flex-width,
.itasks-toolbar > .itasks-flex-width,
.itasks-buttonbar > .itasks-flex-width,
.itasks-cons > .itasks-flex-width,
.itasks-var-cons > .itasks-flex-width,
.itasks-listitem > .itasks-flex-width,
.itasks-listitem-controls > .itasks-flex-width {
	flex-grow: 1;
}	
.itasks-container.itasks-horizontal > .itasks-flex-height,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-flex-height,
.itasks-form-item > .itasks-flex-height,
.itasks-toolbar > .itasks-flex-height,
.itasks-buttonbar > .itasks-flex-height,
.itasks-cons > .itasks-flex-height,
.itasks-var-cons > .itasks-flex-height,
.itasks-listitem > .itasks-flex-height,
.itasks-listitem-controls > .itasks-flex-height{
	align-self: stretch;
}
.itasks-container.itasks-horizontal > .itasks-exact-width,
.itasks-container.itasks-horizontal > .itasks-wrap-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-exact-width,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-wrap-width,
.itasks-form-item > .itasks-exact-width,
.itasks-form-item > .itasks-wrap-width,
.itasks-toolbar > .itasks-exact-width,
.itasks-toolbar > .itasks-wrap-width,
.itasks-buttonbar > .itasks-exact-width,
.itasks-buttonbar > .itasks-wrap-width,
.itasks-cons > .itasks-exact-width,
.itasks-cons > .itasks-wrap-width,
.itasks-var-cons > .itasks-exact-width,
.itasks-var-cons > .itasks-wrap-width,
.itasks-listitem > .itasks-exact-width,
.itasks-listitem > .itasks-wrap-width,
.itasks-listitem-controls > .itasks-exact-width,
.itasks-listitem-controls > .itasks-wrap-width {
	flex: 0 0 auto;
}	
.itasks-container.itasks-horizontal > .itasks-exact-width > .itasks-inner,
.itasks-container.itasks-horizontal > .itasks-wrap-width > .itasks-inner,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-exact-width > .itasks-inner,
.itasks-panel.itasks-horizontal > .itasks-inner > .itasks-wrap-width > .itasks-inner,
.itasks-form-item > .itasks-exact-width > .itasks-inner,
.itasks-form-item > .itasks-wrap-width > .itasks-inner,
.itasks-toolbar > .itasks-exact-width > .itasks-inner,
.itasks-toolbar > .itasks-wrap-width > .itasks-inner,
.itasks-buttonbar > .itasks-exact-width > .itasks-inner,
.itasks-buttonbar > .itasks-wrap-width > .itasks-inner,
.itasks-cons > .itasks-exact-width > .itasks-inner,
.itasks-cons > .itasks-wrap-width > .itasks-inner,
.itasks-var-cons > .itasks-exact-width > .itasks-inner,
.itasks-var-cons > .itasks-wrap-width > .itasks-inner,
.itasks-listitem > .itasks-exact-width > .itasks-inner,
.itasks-listitem > .itasks-wrap-width > .itasks-inner,
.itasks-listitem-controls > .itasks-exact-width > .itasks-inner,
.itasks-listitem-controls > .itasks-wrap-width > .itasks-inner {
	flex-basis: auto;
}
/* Container components with additional styling */
.itasks-container.itasks-horizontal,
.itasks-panel.itasks-horizontal {
	flex-direction: row;
}
.itasks-container.itasks-vertical,
.itasks-panel.itasks-vertical {
	flex-direction: column;
}

.itasks-container.itasks-prompt {
	min-height: fit-content;
	min-width: fit-content;
	margin: 5px 5px 10px 5px;
}
.itasks-container.itasks-form-item {
	margin: 2px 4px 2px 4px;
	min-height: min-content;
	flex-direction: row;
	align-items: start;

	flex: 0;
	align-self: stretch;
}
.itasks-container.itasks-form-item .itasks-icon {
	margin-left: 5px;
}
.itasks-container.itasks-cons, .itasks-container.itasks-var-cons  {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: start;
}

.itasks-container.itasks-frame-compact-outer {
	flex: 1;	
	align-self: stretch;
}
.itasks-container.itasks-frame-compact-outer > .itasks-frame-compact-inner {
	margin: 50px 0 20px 0;
	border-radius: 5px;
	overflow: auto;

	align-self: center;
	flex: 0;
	flex-basis: auto;
}

.itasks-panel.itasks-framed {
	border-radius: 5px;
}

.itasks-headerbar > .itasks-inner > .aside {
	flex-shrink: 0;
	flex-grow: 0;
	flex-basis: auto;
	align-self: stretch;
	align-items: center;
}

/* Sidebar elements */
.itasks-panel.itasks-sidebar-left > .itasks-inner,
.itasks-panel.itasks-sidebar-right > .itasks-inner,
.itasks-container.itasks-sidebar-left > .itasks-inner,
.itasks-container.itasks-sidebar-right > .itasks-inner {
	flex-direction: row;
}
.itasks-sidebar-top > .itasks-inner > .aside,
.itasks-sidebar-bottom > .itasks-inner > .aside {
	flex: 0 0 var(--vertical-sidebar-init-height);
	align-self: stretch;
	border-width: 0;
}
.itasks-sidebar-right > .itasks-inner > .aside,
.itasks-sidebar-left > .itasks-inner > .aside {
	flex: 0 0 var(--horizontal-sidebar-init-width);
	align-self: stretch;
	border-width: 0;
}

.itasks-hidden {
	display: none;
}

.itasks-scroll-content {
	min-height: var(--flex-min-height);
}
.itasks-textview, .itasks-htmlview {
	padding: 5px;
}

.itasks-icon {
	width: 16px;
	height: 16px;
}
.itasks-label {
	width: 100px;
	padding: 5px;
	text-overflow: elipsis;
}

*.itasks-viewport input:not([type="checkbox"]):not([type="radio"]),
		*.itasks-viewport select:not([multiple]),
		*.itasks-viewport button, *.itasks-edit-document {
	box-sizing: border-box;
	height: var(--control-height);
}
*.itasks-edit-document {
	line-height: var(--control-height);
}

.itasks-button {
	font-size: 8pt;
   	padding: 3px;
	background: linear-gradient(var(--button-base-color-lighter), var(--button-base-color));
	background-repeat: none;
	border: 1px solid var(--button-base-color-darker);
	border-radius: 3px;

	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--button-text-color);
	flex-shrink: 0;
}
.itasks-button:hover {
	border-color: var(--button-base-color-darkest);
}
.itasks-button:active {
	background: var(--button-base-color-lighter);
}

.itasks-button-label {
	margin: 0 4px;
	height: 16px;
	cursor: default;
}
.itasks-button-icon {
	width: 16px;
	height: 16px;
}
.itasks-button:disabled {
	color: var(--button-text-color-lighter);
	background: linear-gradient(var(--button-base-color-lighter), var(--button-base-color-darker));
}
.itasks-button:disabled:hover {
	border-color: var(--button-base-color-darkest);
}
.itasks-button:disabled .itasks-button-icon {
	opacity: 0.5;
}

.itasks-checkgroup, {
	margin: 0;
	padding: 0;
}
.itasks-checkgroup li {
	list-style: none;
}
.itasks-checkgroup label {
	margin-left: 5px;
}
.itasks-choicegrid {
	display: flex;
	flex-direction: column;

	/*Default stretch in both directions*/
	flex-grow: 1;
	align-self: stretch;
}
.itasks-choicegrid-header {
	color: var(--panel-header-text-color);
	background: var(--panel-header-base-color);
	background: linear-gradient(var(--panel-header-base-color-lighter2), var(--panel-header-base-color-darker2));
	display: flex;
	flex-direction: row;
	flex: none;
}
.itasks-choicegrid-header > div {
	border: 1px solid;
	border-color:  var(--choicegrid-up-color) var(--choicegrid-up-color) var(--choicegrid-down-color) var(--choicegrid-down-color);
	flex: 1;
	padding: 3px 5px;
	font-size: 11px;
	height: 20px;
}
.itasks-choicegrid-body {
	flex: 1;
	background: #fff;
	color: #000;
	overflow: auto;
	min-height: 100px;
}
.itasks-choicegrid-body > div {
	display: flex;
	flex-direction: row;
	cursor: default;
	border: solid transparent;
	border-width: 1px 0;
	border-bottom-color: #ddd;
}
.itasks-choicegrid-body > div:nth-child(even) {
	background-color: #fafafa;
}
.itasks-choicegrid-body > div:hover {
	background-color: #eee;
}
.itasks-choicegrid-body > div.itasks-selected {
	background-color: var(--select-base-color);
	color: var(--select-text-color);
	border: 1px dotted #333;
}
.itasks-choicegrid-body > div > div {
	flex: 1;
	padding: 3px 5px;
}

.itasks-choicetree {
	overflow: auto;
	min-width: 150px;
	min-height: 100px;

	background: #fff;
	color: #000;
}
.itasks-choicetree ol {
	margin: 5px 0 0 20px;
	padding: 0;
}
.itasks-choicetree li {
	position: relative;
	margin: 0 0 2px -15px;
	list-style: none;
}
.itasks-choicetree li input {
	display: none;
}
.itasks-choicetree li input + label {
	display: inline-block;
	background: url("icons/toggle-small-expand.png") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
}
.itasks-choicetree li input ~ ol {
	margin: 0 0 0 -44px;
}
.itasks-choicetree li input ~ ol > li {
	display: none;
	margin-left: -24px !important;
	padding-left: 1px;
}

.itasks-choicetree li input:checked + label {
	background: url("icons/toggle-small.png") no-repeat;
}
.itasks-choicetree li input:checked ~ ol {
	padding: 0 0 0 80px;
	height: auto;
}
.itasks-choicetree li input:checked ~ ol > li {
	display: block;
	margin: 0 0 2px;
}
.itasks-choicetree li input:checked ~ ol > li:last-child {
	margin: 0 0 1px;
}

.itasks-choicetree li.itasks-leaf > label {
	background-position: 16px 0px;
	background-repeat: no-repeat;
}
.itasks-choicetree li.itasks-selected > label {
	font-weight: bold;
}
.itasks-choicetree li label {
	cursor: pointer;
	display: block;
	white-space: nowrap;
	font-size: 12px;
	padding-left: 37px;
	background-color: #fff;
	background-position: 15px 0px;
	background-repeat: no-repeat;
	height: 16px;
}
.itasks-choicetree li label.itasks-default-folder {
	background-image: url('icons/folder.png');
}
.itasks-choicetree li label.itasks-default-leaf {
	background-image: url('icons/document.png');
}

.itasks-choice-list {
	margin: 0;
	border: 1px solid var(--select-base-color);
	display: flex;
	overflow: auto;
	flex-direction: column;
	align-items: stretch;
	
	/*Default stretch in both directions*/
	flex-grow: 1;
	align-self: stretch;
}
.itasks-choice-list * {
	align-self: stretch;
}
.itasks-choice-list-option {
	border: solid var(--select-base-color);
	border-width: 0 0 1px 0;
	padding: 5px 10px;
	flex-shrink: 0;
}
.itasks-choice-list-option:last-child {
	border-width: 0;
}
.itasks-choice-list-option.itasks-selected {
	background-color: var(--select-base-color);
	color: var(--select-text-color);
}

.itasks-progress {
	height: 1.5em;
	width: 100%;
	background-color: #c9c9c9;
	position: relative;
}
.itasks-progress:before {
	content: attr(title);
	font-size: 0.8em;
	position: absolute;
	text-align: center;
	height: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.itasks-progress .value {
	background-color: #7cc4ff;
	display: inline-block;
	height: 100%;
	width: 100%;
}

*.itasks-viewport .itasks-icon {
	position: relative;
	display: inline-block;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip {
	/* Basic styling: */
	background: #ccc;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
	color: #000;
	font-size: 12px;
	padding: 8px 10px;
	pointer-events: none;

	/* We use a max-width so that the tooltip does not go out of the viewport: */
	width: max-content;
	max-width: 180px;

	position: absolute;
	z-index: 1000000;

	/* By default tooltips are not visible (they are made visible by JavaScript): */
	display: none;
	opacity: 0;
	transition: 0.3s ease;
	visibility: hidden;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-left {
	right: 150%;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-right {
	left: 150%;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-top {
	bottom: 0;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip:before {
	border: 6px solid transparent;
	content: '';
	position: absolute;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-left:before {
	border-left-color: #ccc;
	right: -12px;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-right:before {
	border-right-color: #ccc;
	left: -12px;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-top:before {
	bottom: 0;
}
*.itasks-viewport .itasks-icon > span.itasks-tooltip-bottom:before {
	top: 0;
}
div.itasks-loader {
	display: flex;
	font-size: 16pt;
	font-style: italic;
	text-align: center;
}
div.itasks-loader-spinner {
	width: 40px;
	height: 40px;
	border: 10px solid;
	border-radius: 100%;
	border-color: var(--panel-border-color) var(--panel-border-color) var(--panel-border-color) var(--select-base-color);
	margin: auto auto;
	animation: itasks-rotation .8s infinite linear;
}
@keyframes itasks-rotation {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
div.itasks-exception {
	text-align: center;
}
/* Global themabable variables shared by the builtin editors. */
:root {
	--canvas-base-color: #eee;
	--canvas-text-color: #000;

	--panel-header-base-color: #ccc;
	--panel-header-base-color-lighter: #ececec; /* lighten 12.5% */
	--panel-header-base-color-lighter2: white; /* lighten 20% */
	--panel-header-base-color-darker: #999999; /* darken 20% */
	--panel-header-base-color-darker2: #b3b3b3; /* darken 10% */

	--panel-header-text-color: #000;
	--panel-border-color: #ccc;

	--window-header-base-color: #ccc;
	--window-header-base-color-lighter: #ececec; /* lighten 12.5% */
	--window-header-text-color: #000;
	--window-border-color: #ccc;

	--toolbar-base-color: var(--canvas-base-color);
	--toolbar-base-color-lighter: #f8f8f8; /* lighten 4% */
	--toolbar-base-color-darker: #cecece; /* darken 12.5% */
	--toolbar-base-color-darker2: #e1e1e1; /* darken 5% */

	--button-base-color: var(--canvas-base-color);
	--button-base-color-lighter: white; /* lighten 10% */
	--button-base-color-darker: #bbbbbb; /* darken 20% */
	--button-base-color-darkest: #888888; /* darken 40% */
	--button-text-color: var(--canvas-text-color);
	--button-text-color-lighter: #595959; /* lighten 35% */

	--tab-base-color: var(--canvas-base-color);
	--tab-base-color-darker: #e1e1e1; /* lighten 5% */
	--tab-text-color: var(--canvas-text-color);
	--tab-border-color: #ccc;

	--select-base-color: #333;
	--select-text-color: #fff;

	--list-base-color: #fff;
	--list-text-color: #000;
	--list-highlight-color: #eee;
	--list-border-color: #ccc;

	--choicegrid-up-color: #d9d9d9; /* lighten 5% */
	--choicegrid-down-color: #f2f2f2; /* lighten 15% */

	--flex-min-height: auto; /* minimum height of flex elements with shrunk height */

	--horizontal-sidebar-init-width: 25%;
	--vertical-sidebar-init-height: 30%;

	/* height of controls. 31px is the height of number fields in firefox,
	 * which are currently the largest. */
	--control-height: 31px;
}

/* Predefined themes: just add this class to the viewport or (any container) */
.itasks-orangeblue {
	--panel-header-base-color: #fb7322;
	--panel-header-text-color: #fff;
	--panel-border-color: #fb7322;

	--window-header-base-color: #004584;
	--window-header-text-color: #fff;
	--window-border-color: #fb7322;

	--toolbar-base-color: #fb7322;

	--select-base-color: #004584;

	--panel-header-base-color-lighter: #fc9b61;
	--panel-header-base-color-lighter2: #fdb286;
	--panel-header-base-color-darker: #b44503;
	--panel-header-base-color-darker2: #e65804;
	--window-header-base-color-lighter: #0066c4;
	--toolbar-base-color-lighter: #fb8036;
	--toolbar-base-color-darker: #d95404;
	--toolbar-base-color-darker2: #fb6309;
	--choicegrid-up-color: #fb833b;
	--choicegrid-down-color: #fca36d;
}

/* Intermediate UI elements */
.itasks-raw-record,
.itasks-raw-cons,
.itasks-raw-var-cons,
.itasks-raw-interact,
.itasks-raw-step,
.itasks-raw-parallel,
.itasks-raw-form,
.itasks-raw-form-item {
	border: dashed 2px #ccc;
}
.itasks-raw-record > .itasks-header,
.itasks-raw-cons > .itasks-header,
.itasks-raw-var-cons > .itasks-header,
.itasks-raw-interact > .itasks-header,
.itasks-raw-step > .itasks-header,
.itasks-raw-parallel > .itasks-header,
.itasks-raw-form > .itasks-header,
.itasks-raw-form-item > .itasks-header {
	color: #fff;
	padding: 2px;
}
.itasks-raw-form {
	border: solid 2px #f33;
	background: #fee;
}
.itasks-raw-form > .itasks-header {
	background: #f33;
}
.itasks-raw-form-item {
	border: dashed 2px #f33;
	border-radius: 5px;
}
.itasks-raw-form-item > .itasks-header {
	background: #f33;
}
.itasks-raw-record {
	border: solid 2px #f33;
	background: #fee;
}
.itasks-raw-record > .itasks-header {
	background: #f33;
}
.itasks-raw-cons {
	border: solid 2px #ff3;
	background: #ffe;
}
.itasks-raw-cons > .itasks-header {
	background: #ff3;
}
.itasks-raw-var-cons {
	border: solid 2px #ff3;
	background: #ffe;
}
.itasks-raw-var-cons > .itasks-header {
	background: #ff3;
}
.itasks-raw-interact {
	border: solid 2px #f3f;
	background: #fef;
}
.itasks-raw-interact > .itasks-header {
	background: #f3f;
}
.itasks-raw-step {
	border: solid 2px #33f;
	background: #eef;
}
.itasks-raw-step > .itasks-header {
	background: #33f;
}
.itasks-raw-parallel {
	border: solid 2px #3f3;
	background: #efe;
}
.itasks-raw-parallel > .itasks-header {
	background: #3f3;
}
.itasks-raw-empty {
	border: dashed 2px #eee;
	color: #ccc;
	font-style: italic;
}
.itasks-raw-action {
	border: solid 2px #000;
	padding: 5px 20px;
	border-radius: 5px;	
	color: #fff;
	font-weight: bold;
}
.itasks-raw-action-enabled {
	background-color: #0f0;
}
.itasks-raw-action-disabled {
	background-color: #f00;
}

/* Predefined icon classes */
*.itasks-viewport .icon-help {
	background-image: url('icons/help.png');
}
*.itasks-viewport .icon-info {
	background-image: url('icons/information.png') !important;
}
*.itasks-viewport .icon-valid {
	background-image: url('icons/accept.png') !important;
}
*.itasks-viewport .icon-warning {
	background-image: url('icons/warning.png') !important;
}
*.itasks-viewport .icon-invalid {
	background-image: url('icons/exclamation.png') !important;
}
*.itasks-viewport .icon-continue {
	background-image: url('icons/arrow_right.png');
}
*.itasks-viewport .icon-login, *.itasks-viewport .icon-log-in {
	background-image: url('icons/tick.png');
}
*.itasks-viewport .icon-logout, *.itasks-viewport .icon-log-out {
	background-image: url('icons/door_in.png');
}
*.itasks-viewport .icon-view {
	background-image: url('icons/page.png') !important;
}
*.itasks-viewport .icon-edit {
	background-image: url('icons/pencil.png') !important;
}
*.itasks-viewport .icon-delete {
	background-image: url('icons/trash.png') !important;
}
*.itasks-viewport .icon-refresh {
	background-image: url('icons/refresh.png') !important;
}
*.itasks-viewport .icon-up {
	background-image: url('icons/move-up.png') !important;
}
*.itasks-viewport .icon-down {
	background-image: url('icons/move-down.png') !important;
}
*.itasks-viewport .icon-add, *.itasks-viewport .icon-new {
	background-image: url('icons/add.png') !important;
}
*.itasks-viewport .icon-remove {
	background-image: url('icons/delete.png') !important;
}
*.itasks-viewport .icon-ok {
	background-image: url('icons/tick.png') !important;
}
*.itasks-viewport .icon-cancel {
	background-image: url('icons/cancel.png') !important;
}
*.itasks-viewport .icon-open {
	background-image: url('icons/document-open.png') !important;
}
*.itasks-viewport .icon-save {
	background-image: url('icons/document-save.png') !important;
}
*.itasks-viewport .icon-document {
	background-image: url('icons/document.png') !important;
}
*.itasks-viewport .icon-document-error {
	background-image: url('icons/document-error.png') !important;
}
*.itasks-viewport .icon-folder {
	background-image: url('icons/folder.png') !important;
}
*.itasks-viewport .icon-close {
	background-image: url('icons/cancel.png') !important;
}
*.itasks-viewport .icon-previous {
	background-image: url('icons/arrow_left.png') !important;
}
*.itasks-viewport .icon-next {
	background-image: url('icons/arrow_right.png') !important;
}
*.itasks-viewport .icon-preferences {
	background-image: url('icons/cog.png') !important;
}
*.itasks-viewport .icon-finish {
	background-image: url('icons/flag.png') !important;
}
*.itasks-viewport .icon-fullscreen {
	background-image: url('icons/fullscreen.png') !important;
}
.itasks-viewport .select2-container {
	font-size: 9pt;
}

.itasks-viewport .select2-container .select2-selection--single {
	height: var(--control-height) !important;
}

.itasks-viewport .select2-container .select2-selection--single .select2-selection__rendered {
	font-size: 9pt;
	line-height: var(--control-height) !important;
}
.welcome-itasks-example-collection {
	background: url('../itasks.png') no-repeat top center;
	padding-top: 100px;
}
.welcome-itasks-example-collection > div {
	max-width: 600px;
	border-radius: 5px;
	padding: 5px 10px;
}
.welcome-itasks-example-collection h1 {
	font-weight: normal;
	font-size: 32pt;
	color: #74a1d5;
}

