/* In headless mode, some browsers do not have styling on input fields, making
 * them invisible in screenshots. These rules make them visible again.
 */

input {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 8px;
}

input[type="checkbox"] {
	appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-webkit-appearance: none;
	height: 19px;
	outline: none;
	padding: 0;
	position: relative;
	width: 19px;
}

input[type="checkbox"]:checked::before {
	content: '\2713';
	display: block;
	font-size: 150%;
	left: 0;
	line-height: 19px;
	margin: 0 auto;
	position: absolute;
	right: 0;
	text-align: center;
}

select {
	border: 1px solid #ccc;
	border-radius: 3px;
}
